<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="result">

        <form method="post" action="/<%= edit._id %>/update?_method=PUT" class="needs-validation" novalidate>
            <div class="heading">
                <h1>Edit your own result Only</h1>
            </div>
            <div class="details">
                <label for="name" class="form-label">name</label>
                <input type="text" value="<%= edit.name %>" class="form-control" name="result[name]" id="name" required placeholder="Enter your name">
                <div class="invalid-feedback">
                    Please select a name.
                </div>
                <div class="valid-feedback">
                    Name Looks good!
                </div>

                <label for="subject1" class="form-label">subject1</label>
                <input type="text" value="<%= edit.subject1 %>" class="form-control" name="result[subject1]" id="subject1" required placeholder="Enter your subject1">
                <input type="number" value="<%= edit.marks1 %>" class="form-control" name="result[marks1]" id="subject1" required placeholder="Enter marks for subject1">
                <div class="invalid-feedback">
                    Please select a valid state.
                  </div>

                <label for="subject2" class="form-label">subject2</label>
                <input type="text" value="<%= edit.subject2 %>" class="form-control" name="result[subject2]" id="subject2" required placeholder="Enter your subject2">
                <input type="number" value="<%= edit.marks2 %>" class="form-control" name="result[marks2]" id="subject2" required placeholder="Enter marks for subject2">
                <div class="invalid-feedback">
                    Please select a valid state.
                  </div>

                <label for="subject3" class="form-label">subject3</label>
                <input type="text" value="<%= edit.subject3 %>" class="form-control" name="result[subject3]" id="subject3" required placeholder="Enter your subject3">
                <input type="number" value="<%= edit.marks3 %>" class="form-control" name="result[marks3]" id="subject3" required placeholder="Enter marks for subject3">
                <div class="invalid-feedback">
                    Please select a valid state.
                  </div>

                <label for="subject4" class="form-label">subject4</label>
                <input type="text" value="<%= edit.subject4 %>" class="form-control" name="result[subject4]" id="subject4" required placeholder="Enter your subject4">
                <input type="number" value="<%= edit.marks4 %>" class="form-control" name="result[marks4]" id="subject4" required placeholder="Enter marks for subject4">
                <div class="invalid-feedback">
                    Please select a valid state.
                  </div>

            </div>

            <div class="button">
                <button class="btn btn-primary">Edit</button>
                <a href="/read" class="btn btn-primary">Back to Deskbord</a>
            </div>
        </form>
    </div>
    <script src="/validate.js"></script>
</body>

</html>